body{
    font-family: sans-serif;
}

nav {
    /* outline: 1px solid yellow; */
}

ul{
    /* outline: 1px solid blue; */
    /* Usamos  list-style para quitarle las viñetas y a padding y margin le ponemos el valor de 0 para quitarle el espacio a la izquierda */
    /* usamos line height para dejarle un espacio arriba entre líneas */
    /* usamos overflow para indicar que conserve su propeiedad de bloque */
    list-style: none;
    padding:0;    
    margin: 0;
    background: #2e2e2a;
    line-height: 40px;
    overflow: auto;
}

li{
    /* outline: 1px solid red; */
    width: 100px;
    /* display: inline-block; */
    text-align: center;
    float: left;
    /* Usamos float para que los objetos vayan a la izquierda */
}

a{
    /* outline: 1px solid green; */
    /* quitamos el subrayado de los links y le damos la propiedad de bloque */
    text-decoration: none;
    color:#fff;
    display: block;    
}

a:hover {
    /* agregamos hover para que se sombree al pasar el mouse */
    background: #f9a91a;
    color: #000;
}
